body{
background-color: black;
color: white;
font-family: Arial;
}
.title{
font-weight: bold;
font-size:30px;
}
.move-icon{
height: 50px;
}
.move-button{
background-color: transparent;
border: 3px solid white;
width: 120px;
height: 120px;
margin-right: 10px;
border-radius: 60px;
cursor: pointer;
}
.result{
font-weight: bold;
font-size:25px;
}
.move{
margin-bottom: 50px;
}
.reset-score{
padding: 10px 15px;
font-size: 15px;
border: none;
cursor: pointer;
}